
.ctn {
    /* Positioning */
    margin-top: 0;
    margin-left: 150px;
    margin-right: 0;

    height: auto;

    /* Layout */
    display: grid;
    grid-template: "mainTitle"
                   "aboutMe"
                   "allProjects"
                   "contact";
}